#codigo_head {
	width: 6%;
	padding-left: 8px;
	padding-right: 0;
}

h2 {
	margin-left: 10px;
	font-family: arial;
	font-size: 25px;
}

.table.table-bordered {
	margin-bottom: 0;
}

.btn.btn-default.dropdown-toggle {
	margin-bottom: 20px;
	margin-left: 10px;
	margin-top: 20px;
}

#codigo {
	padding-left: 8px;
	padding-right: 0px;
}

.page-header {
	padding-left: 10px;
}

body {
	margin-left: 10%;
	margin-right: 10%;
}

