#codigo_head {
	width: 6%;
	padding-left: 8px;
	padding-right: 0;
}

h2 {
	margin-left: 10px;
	font-family: arial;
	font-size: 25px;
}

.btn.btn-default.dropdown-toggle {
	margin-bottom: 20px;
	margin-left: 10px;
	margin-top: 20px;
}

#codigo {
	padding-left: 8px;
	padding-right: 0px;
}

.page-header {
	padding-left: 10px;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}

form {
	position: relative;
	top: 12px;
	right: 15px;
}

#pager_top {
	position:absolute;
	left: 1507px;
	top: 175px;
}

#pager_bottom {
	position: absolute;
	left: 1507px;
	top: 2144px;
}