#codigo_head {
	width: 6%;
	padding-left: 8px;
	padding-right: 0;
}

h2 {
	margin-left: 10px;
	font-family: arial;
	font-size: 25px;
}

.btn.btn-default.dropdown-toggle {
	margin-bottom: 20px;
	margin-left: 10px;
	margin-top: 20px;
}

#codigo {
	padding-left: 8px;
	padding-right: 0px;
}

.page-header {
	padding-left: 10px;
}

body {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
}

.navbar-form.navbar-left{
	position: relative;
	top: 12px;
	right: 15px;
}


#pager_top {
	position:absolute;
	left: 1507px;
	top: 175px;
}

#pager_bottom {
	position: relative;
	left: 660px;
}

#btn_crear_productos {
	width: 89px;
	margin-bottom: 10px;
}

.crear_form {
	width: 500px;
	position: absolute;
	left: 677px
}

#crear_codigo {
	width: 100px;
}

#btn_crear_form {
	position: relative;
	left: 219px;
}

.errorlist {
	color: red;
	list-style-type: none;
	padding-left: 0;
}

.success_producto {
	position: absolute;
	top: 250px;
	left: 713.5px;
	
}

.btn_success_producto {
	position: absolute;
	top: 360px;
	left: 807px;
}

.producto_borrado {
	font-size: 15px;
	color: green;
	margin-bottom: 5px;
}

.confirm {
	position: absolute;
	top: 250px;
	left: 713.5px;

}

.btn_confirm {
	position: relative;
	left: 120px;
	top: 10px;
}